body{
    background-color: #d0dbe4;
}

.pagina-consultar {
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;


    h2{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    button{
        background-color: #4CAF50;
        margin-left: 20px;
    }
    table {
        width: 700px;
        margin: 0 auto;
        padding-left: 50px;

        th {
            text-align: left;
            padding: 5px;
        }

        td {
            padding: 5px;
            border-top: 2px solid red;
        }

       
    }
    
}