
body {
    background-color: aliceblue;
    }
.pagina-cadastrar {
    display: flex;
    flex-direction: column;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 200px;
    margin-left:  300px;
    font-size: 20px;
    gap: 20px;

    .form {
       color: aqua;
        
         div {
            display: flex;
            gap: 30px;
            

            label {
                display: flex;
                margin-top: 30px;
            }

            input {
                padding: 15px;
                border: 2px black  solid;
                border-radius: 20px;
                margin-top: 20px;
            }
        }
    }

    button {
        display: flex;
        max-width: 80px;
        background-color: #4CAF50;
    }
}